@model PairingTest.Web.Models.QuestionnaireViewModel
<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
    <body>
        <div>
            <h2>@Model.QuestionnaireTitle</h2>

            <ul>
                @foreach (var question in Model.QuestionsText)
                {
                    <li>@question</li>
                }
            </ul>    
        </div>
    </body>
</html>
